.page {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-width: 1280px;
  background-color: #000;
}

.header {
  max-width: 880px;
}

.page__header {
  margin: 45px auto 40px;
}

.logo {
  background-image: url(./images/logo.svg);
  width: 142px;
  height: 33px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__line {
  border: 1px solid rgba(84, 84, 84, 0.7);
  margin: 41px 0 0;
}

.content {
  max-width: 880px;
}

.page__content {
  margin: 40px auto 66px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile__avatar {
  background-image: url(./images/avatar.jpg);
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.profile__info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "title edit-btn"
    "status status" ;
  margin: 0 auto 0 30px;
  max-width: calc(880px - 120px - 150px - 30px - 10px);
}

.profile__name {
  grid-area: title;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  margin: 0 18px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__status {
  grid-area: status;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  margin: 16px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.buttons:hover {
  opacity: 0.6;
  transition: opacity 300ms linear;
}

.edit-button {
  grid-area: edit-btn;
  display: block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #fff;
  align-self: center;
}

.edit-button__icon {
  background-image: url(./images/edit_button.svg);
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 6px auto;
}

.add-button {
  display: block;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
}

.add-button__icon {
  background-image: url(./images/add_button.svg);
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 12px auto;
}

.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content__elements {
  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

.card__image {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card__form {
  display: flex;
  align-items: center;
}

.card__title {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 25px auto 31px 21px;
}

.card__like {
  background-image: url(./images/like_btn.svg);
  max-width: 22px;
  width: 100%;
  height: 19px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  background-color: #fff;
  padding: 0;
  margin-right: 20px;
  cursor: pointer;
}

.card__like:hover {
  opacity: 0.5;
  transition: opacity 300ms linear;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
  display: none;
}

.popup__container {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
}

.popup__close-btn {
  display: block;
  background-image: url(./images/close_Icon.svg);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  margin-left: calc(430px + 8px);
  margin-bottom: 8px;
}

.popup__form {
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.popup__form-container {
  display: flex;
  flex-direction: column;
  color: #000;
  padding: 0;
  margin: 34px 36px 37px;
  border: none;
}

.popup__form-title {
  max-width: 330px;
  width: 100%;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0 0 54px 0;
}

.popup__form-item {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.popup__form-input {
  max-width: 358px;
  width: 100%;
  height: 27px;
  margin-top: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1.21;
}

.popup__form-input:nth-child(2) {
  margin-top: 0;
}

.popup__form-input:focus {
  outline: 1px solid #000;
  outline-offset: 3px;
  border-radius: 2px;
}

.popup__form-button {
  max-width: 358px;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.22;
  margin-top: 48px;
  text-align: center;
  cursor: pointer;
}

.popup__form-button:focus {
  outline: 1px solid #000;
  outline-offset: 3px;
}

.popup__form-button:hover {
  opacity: 0.8;
  transition: opacity 300ms linear;
}

.footer {
  max-width: 880px;
}

.page__footer {
  margin: 66px auto 60px;
}

.footer__copyright {
  color: #545454;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  margin: 0;
}

@media screen and (max-width: 1300px) {
  .page {
    min-width: 1024px;
  }
}

@media screen and (max-width: 1050px) {
  .page {
    min-width: 768px;
  }

  .header {
    max-width: 752px;
  }

  .content {
    max-width: 752px;
  }

  .profile__name {
    font-size: 34px;
  }

  .elements {
    grid-template-columns: repeat(auto-fit, minmax(371px, 1fr));
    gap: 15px 10px;
  }

  .footer {
    max-width: 752px;
  }
}

@media screen and (max-width: 790px) {
  .page {
    min-width: 512px;
  }

  .header {
    max-width: 512px;
  }

  .content {
    max-width: 496px;
  }

  .logo {
    margin-left: 27px;
  }

  .profile {
    flex-direction: column;
    text-align: center;
  }

  .profile__info {
    margin: 0;
  }

  .profile__avatar {
    margin-bottom: 26px;
  }

  .profile__name {
    margin: 0 10px 0 0;
  }

  .profile__status {
    margin: 14px 0 36px 0;
  }

  .add-button {
    width: 282px;
  }

  .elements {
    grid-template-columns: repeat(auto-fit, minmax(496px, 1fr));
    gap: 10px;
  }

  .popup__close-btn {
    margin-left: auto;
  }

  .popup__form-container {
    margin: 27px 24px;
  }

  .footer {
    max-width: 496px;
  }
}

@media screen and (max-width: 530px) {
  .page {
    min-width: 320px;
  }

  .header {
    max-width: 320px;
  }

  .page__header {
    margin: 28px auto 42px;
  }

  .logo {
    width: 103px;
    height: 24px;
  }

  .header__line {
    margin: 31.6px 0 0;
  }

  .content {
    max-width: 282px;
  }

  .page__content {
    margin: 42px auto 48px;
  }

  .profile__name {
    font-size: 27px;
    line-height: 1.22;
  }

  .profile__status {
    font-size: 14px;
    line-height: 1.21;
  }

  .edit-button {
    width: 18px;
    height: 18px;
  }

  .edit-button__icon {
    width: 7.5px;
    height: 7.5px;
    margin: 4.25px auto;
  }

  .add-button__icon {
    width: 16px;
    height: 16px;
    margin: 15px auto;
  }

  .content__elements {
    margin-top: 36px;
  }

  .elements {
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px;
  }

  .popup__close-btn {
    width: 20px;
    height: 20px;
    margin-bottom: 16px;
  }

  .popup__form {
    width: 282px;
  }

  .popup__form-container {
    margin: 25px 22px;
  }

  .popup__form-title {
    max-width: 238px;
    font-size: 18px;
    line-height: 1.22;
    margin: 0 0 75px 0;
  }

  .popup__form-input {
    max-width: 238px;
    margin-top: 43px;
  }

  .popup__form-button {
    max-width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 1.21;
    margin-top: 45px;
  }

  .footer {
    max-width: 282px;
  }

  .page__footer {
    margin: 48px auto 36px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 1.21;
  }
}
