.page {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-width: 1280px;
  background-color: #000;
}

.header {
  max-width: 880px;
}

.page__header {
  margin: 45px auto 40px;
}

.logo {
  background-image: url(./images/logo.svg);
  width: 142px;
  height: 33px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__line {
  border: 1px solid #545454;
  opacity: 0.7;
  margin: 41px 0 0;
}

.content {
  max-width: 880px;
}

.page__content {
  margin: 40px auto 66px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile__avatar {
  background-image: url(./images/avatar.jpg);
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.profile__info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "title edit-btn"
    "status status" ;
  margin: 0 auto 0 30px;
  max-width: calc(880px - 120px - 150px - 30px - 10px);
}

.profile__name {
  grid-area: title;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  margin: 0 18px 16px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__status {
  grid-area: status;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.edit-button {
  grid-area: edit-btn;
  display: block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #fff;
  align-self: center;
}
.edit-button__icon {
  background-image: url(./images/edit_button.svg);
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 6px auto;
}
.add-button {
  display: block;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
}
.add-button__icon {
  background-image: url(./images/add_button.svg);
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 12px auto;
}

.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content__elements {
  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

.card__image {
  max-width: 282px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

.card__form {
  display: flex;
  align-items: center;
}

.card__title {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 25px auto 31px 21px;
}

.card__like {
  background-image: url(./images/like_btn.svg);
  max-width: 22px;
  width: 100%;
  height: 19px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  background-color: #fff;
  padding: 0;
  margin-right: 20px;
  cursor: pointer;
}

.popup {
  display: none;
}

.popup_opened {

}

.popup__container {
}
.popup__close-btn {
}
.form {
}
.form__container {
}
.form__title {
}
.form__input-container {
}
.form__item {
}
.form__button {
}

.footer {
  max-width: 880px;
}

.page__footer {
  margin: 66px auto 60px;
}

.footer__copyright {
  color: #545454;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  margin: 0;
}
