.card__like {
  background-image: url(../../../images/like_btn.svg);
  max-width: 22px;
  width: 100%;
  height: 19px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  background-color: #fff;
  padding: 0;
  margin-right: 20px;
  cursor: pointer;
}
.card__like:hover {
  opacity: 0.5;
  transition: opacity 300ms linear;
}
